
h2.R4L{
    color:darkgoldenrod;
    font-family:monospace;
    font-weight: bold;

}

div.p-2{
    font-family:monospace;
    font-weight: bold;
    font-size: 19px;

}


div.hd{
   font-family:monospace;
   font-weight: bold;
   font-size: 19px;
}
