
h2.R4L{
    color:darkgoldenrod;
    font-family:monospace;
    font-weight: bold;
    font-size: large;

}

div.p-2{
    font-family:monospace;
    font-weight: bold;
    font-size: 19px;

}


div.hd{
   font-family:monospace;
   font-weight: bold;
   font-size: 30px;
}

img.lgo{
    width:90px;
    height:50px;
}
